.campo{
    left: 20px;
    right: 20px;
    top: 1%;
    padding: 10px;
    width: 320px;
}ion-toolbar{
    background-color: var(--ion-color-mycolor);
}
.btn{
    background-color: var(--ion-color-mycolor);
    color:white;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    font-size: 20px;
}
#container{
    text-align: center;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 60%;
    transform: translateY(-50%);
}
#top{
    margin-top: 40%;
}