<ion-header>

  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list id="top">
    <ion-item class="campo">
      <ion-label color="primary" position="floating">Usuario</ion-label>
      <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="text" placeholder="Enter your name" required="true"></ion-input>
      <ion-icon name="mail-outline" color="primary" slot="end"></ion-icon>
    </ion-item>

    <ion-item class="campo">
      <ion-label color="primary" position="floating">Contraseña</ion-label>
      <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="text" placeholder="Enter your name" required="true"></ion-input>
      <ion-icon name="lock-closed-outline" color="primary" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <div id="container">
    <ion-button (click)="goToHome() "expand="full" fill="outline">Ingresar</ion-button>

    </div>

</ion-content>
