<ion-header>

  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-toolbar>
      <ion-segment value="all">
        <ion-segment-button (click)="user()" value="all">
          Usuario
        </ion-segment-button>
        <ion-segment-button (click)="taxista()" value="favorites">
         Taxista
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
    <ion-item class="campo">
      <ion-label color="primary" position="floating">Nombre</ion-label>
      <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="text" placeholder="Enter your name" required="true"></ion-input>
      <ion-icon name="text-outline" color="primary" slot="end"></ion-icon>
    </ion-item>

    <ion-item class="campo">
      <ion-label color="primary" position="floating">Apellidos</ion-label>
      <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="text" placeholder="Enter your name" required="true"></ion-input>
      <ion-icon name="text-outline" color="primary" slot="end"></ion-icon>
    </ion-item>
    
    <ion-item class="campo">
      <ion-label color="primary" position="floating">Edad</ion-label>
      <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="number" placeholder="Enter your name" required="true"></ion-input>
      <ion-icon name="text-outline" color="primary" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="campo">
      <ion-label color="primary" position="floating">Usuario</ion-label>
      <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="text" placeholder="Enter your name" required="true"></ion-input>
      <ion-icon name="mail-outline" color="primary" slot="end"></ion-icon>
    </ion-item>

    <ion-item class="campo">
      <ion-label color="primary" position="floating">Contraseña</ion-label>
      <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="text" placeholder="Enter your name" required="true"></ion-input>
      <ion-icon name="lock-closed-outline" color="primary" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-item class="campo">
    <ion-label color="primary" position="floating">Télefono</ion-label>
    <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="text" placeholder="Enter your name" required="true"></ion-input>
    <ion-icon name="call-outline" color="primary" slot="end"></ion-icon>
  </ion-item>

  <ion-item class="campo">
    <ion-label color="primary" position="floating">Dirección</ion-label>
    <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="text" placeholder="Enter your name" required="true"></ion-input>
    <ion-icon name="call-outline" color="primary" slot="end"></ion-icon>
  </ion-item>

  <ion-item class="campo">
    <ion-label color="primary" >Tipo de Licencia</ion-label>
    <ion-select placeholder="Seleccione">
      <ion-select-option value="f">A</ion-select-option>
      <ion-select-option value="m">B</ion-select-option>
      <ion-select-option value="m">C</ion-select-option>
    </ion-select>
  </ion-item>

  <div id="container">
    <ion-button (click)="goToHome()"expand="full" fill="outline">Registrarse</ion-button>
    </div>
</ion-content>
