<ion-header>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged();" placeholder="Para donde?"></ion-searchbar>
    <ion-list class="ion-margin-horizontal" [hidden]="!search.length">
      <ion-item  (click)="calcRoute(result);" *ngFor="let result of searchResult" >
        {{result.description}}

      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>
<ion-content >

<div id='map'>
</div>

</ion-content>
